.comments {
  background: #fff;
  margin-top: 2rem;
  border-radius: 0.6rem;
  padding: 2.5rem;
  padding-bottom: 4rem;

  & h2 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #3a4374;
    margin-bottom: 3.4rem;
  }
}
