@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Jost", sans-serif;
  background: #f7f8fd;
}

a {
  text-decoration: none;
}
