.roadmap {
  width: 65%;
  padding: 4rem 0;
  margin: 0 auto;
  & .head {
    background: #373f68;
    display: flex;
    padding: 2rem;
    border-radius: 0.6rem;

    & .left {
      color: #fff;

      & .go-back {
        font-size: 1.2rem;
        font-family: 700;
        cursor: pointer;

        & span {
          margin-left: 0.6rem;
        }
      }

      & h3 {
        font-size: 2rem;
        font-family: 700;
      }
    }

    & a {
      margin-left: auto;
    }

    & button {
      margin-left: auto;
      background: #ad1fea;
      color: #fff;
      padding: 1.3rem 1.7rem;
      border-radius: 0.8rem;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 1.2rem;
      font-weight: 700;
    }
  }

  & .container {
    display: flex;
    gap: 3rem;
    margin-top: 5rem;

    & div h2 {
      font-size: 1.7rem;
      font-weight: 700;
      color: #3a4374;
    }
    & div p {
      font-size: 1.5rem;
      font-weight: 400;
      color: #647196;
    }
  }
}
